{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #000;
}

.media-child {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 0em;
  overflow: hidden;
}

.resp-child {
  padding-bottom: 56.25%;
}

#preview-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.button {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  background-color: transparent;
  margin-top: 25px;
  margin-bottom: 5px;
  border : none;
  color: #fff;
  cursor: none;/*pointer*/
  }
.button:hover {
  color: #444; /*list or th*/
}
.playlist-container {
  display: flex;
  background: #000;
  position: relative;
  width: 100%;
  height: auto;
}

.vjs-playlist {
  background-color: #000;
  font-size: 14px;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border: 4px solid #000;
  display: flex-column;
  /*flex-grow: 2;*/
  /*width: 100%;*/
  height: 130%;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.responsive-playlist {
  padding-bottom: 0%;
  display: none;
}

.video-js .vjs-loading-spinner {
  border-color: rgba(107, 0, 255, 0.79);
}

.vjs-playlist img {
  display: flex;
  padding: 4px 0px;
  border-radius: 25px;
  width: 100%;;
  height: 165px;
  
}

.vjs-playlist .vjs-playlist-item-list {
  position: relative
  margin: 0;
  padding: 0;
  list-style: none;
}

.vjs-playlist .vjs-playlist-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.vjs-playlist .vjs-playlist-thumbnail-placeholder {
  background: #303030;
}


.vjs-playlist .vjs-playlist-now-playing-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2px;
  margin: 0.8rem;
}


.vjs-playlist .vjs-up-next-text {
  display: none;
  padding: 0.1rem 2px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.vjs-playlist .vjs-up-next .vjs-up-next-text {
  display: none;
}

.vjs-playlist .vjs-selected {
  border-radius: 25px;
  background-color: #141a21;
}
.vjs-playlist .vjs-selected img {
  opacity: 0.2;
}

.vjs-playlist .vjs-selected .vjs-playlist-now-playing-text {
  display: none;
  color: red;
}

.vjs-playlist .vjs-selected .vjs-playlist-title-container {
  display: none;
  text-shadow: none;
}


@media (min-width: 600px) {
  .vjs-playlist .vjs-playlist-name {
    line-height: 22px;
    display: none;
  }
}