@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap");
$primary-color: #001f61;
$secondary-color: rgb(255, 255, 255, 0.9);

body {
  margin: 0;
  padding: 0;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url("https://donelfantastic.github.io/assets/donelfantastic12.png")
    no-repeat center center/cover;
}

video {
  object-fit: fill cover;
  min-width: 100%;
  min-height: 100vh;
}

.hint {
  font-family: "Roboto Condensed";
  color: $secondary-color;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 110px;
  top: 35px;
  letter-spacing: 1.2px;
}

.toggle-nav {
  width: 65px;
  height: 65px;
  background: $primary-color;
  position: absolute;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  top: 35px;
  left: 35px;
  z-index: 1001;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background: $secondary-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s linear;
    transform-origin: center center;
  }

  &::before {
    margin-top: -5px;
  }
  &::after {
    margin-top: 5px;
  }
  &:hover {
    background: lighten($primary-color, 5%);
  }

  &--open {
    &::before,
    &::after {
      transform-origin: center center;
      margin: 0;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.nav {
  $bem-block: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  opacity: 0;
  visibility: collapse;
  transition: 0.6s ease-in-out;
  transform: translateY(-100%);

  &--open {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    transform: translateX(0);
  }

  &__item {
    user-select: none;
    position: relative;
    bottom: 0;
    background: $secondary-color;
    width: 0;
    height: 100%;
    transition: 0.7s cubic-bezier(0.25, 0.75, 0.5, 1.25);
    overflow: hidden;
    transform-origin: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    flex-grow: 1;

    &:not(:first-of-type) {
      border-top: 1px #ececec solid;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 0.15}s;
      }
    }

    &--open {
      width: 100%;
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 48px;
    font-weight: 900;
    display: block;
    text-align: center;
    transition: 0.3s ease-in-out;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: $primary-color;

    &::after {
      content: attr(data-title);
      position: absolute;
      left: 50%;
      top: 50%;
      height: 0;
      transform: translate(-50%, 150%);
      color: $secondary-color;
      z-index: 1;
      transition: 0.3s ease-in-out;
      transition-delay: 0.2s;
      opacity: 0;
    }
  }

  &__subtitle {
    background: transparent;
    padding: 10px 15px;
    display: block;
    border-radius: 25px;
    text-align: center;
    color: #001f61;
    //color: darken($secondary-color, 45%);
    font-family: "Josefin Slab", serif;
    font-size: 22px;
    z-index: 1;
    transition: 0.2s;
  }

  &__item:hover #{$bem-block}__title {
    color: transparent;

    &::after {
      height: 100%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 10;
    height: unset;
    height: auto;
    width: 100%;
    transform: translateY(75%);
    transition: 0.55s ease-in-out;
    opacity: 0;
  }

  &__item:hover #{$bem-block}__image {
    transform: translateY(0);
    z-index: 1;
    opacity: 0.7;
  }

  &__item:hover #{$bem-block}__subtitle {
    background: $secondary-color;
    padding: 10px 15px;
  }
}

@media (min-width: 991px) {
  .toggle-nav {
    bottom: unset;
    bottom: auto;
    top: 20px;
  }

  .nav {
    flex-direction: row;

    &__item {
      height: 0;
      width: 100%;

      &:not(:first-of-type) {
        border-top: none;
        border-left: 1px #ececec solid;
      }

      &--open {
        height: 100%;
      }
    }

    &__image {
      height: 100%;
    }
    &__subtitle {
      margin-top: 20px;
    }
  }
}

/* SOCIAL PANEL CSS */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #001f61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Muli";
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #97a5ce;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #001f61;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #ff7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97a5ce;
  font-family: "Muli";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #dce1f2;
  border-radius: 50%;
  color: #001f61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #ff6a00;
  box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001f61;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}
