* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  cursor: none;
  width: 100%;
}

.hero {
  position: flex;
  height: 100vh;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/donelfantastic/donelfantastic.github.io/main/assets/donelfantastic1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bubbles {
  position: fixed;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
/*
.cursor {
  position: fixed;
  left: 50px;
  z-index: 999;
  background: #2696e6;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696e6, 0 0 60px #2696e6, 0 0 100px #2696e6;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: "";
  position: absolute;
  background: #2696e6;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
*/
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: auto;
}

span {
  color: rgb(243, 8, 118);
}

.abo {
  background-color: rgb(243, 8, 118);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}

.abo:hover {
  transform: scale(1.2);
  color: white;
}

.content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

h1 {
  margin: 20px 0px 20px;
  font-size: 55px;
  /*later-spacing: 2px;*/
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 100px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid rgb(243, 8, 118);
  outline: none;
  border-radius: 30px;
  color: white;
}

.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 3px 30px;
  border-radius: 30px;
  background-color: rgb(243, 8, 118);
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 3px;
  right: 1px;
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 50%;
  padding-left: 1%;
  border-radius: 10px;
}

.about-text {
  width: 100%;
  padding-left: 15px;
}
.main {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.about-text h2 {
  max-width: 100%;
  color: white;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
}

button {
  background-color: rgb(243, 8, 118);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid rgb(243, 8, 118);
  cursor: pointer;
}

.service {
  background: #101010;
  width: 100%;
  padding: 10px 0px;
}

.title h2 {
  color: white;
  font-size: 48px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.card {
  height: 300px;
  width: 100%;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin-left: 1%;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: rgb(243, 8, 118);
}

h5 {
  color: black;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p {
  color: black;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button {
  background-color: rgb(243, 8, 118);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 1px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid rgb(243, 8, 118);
  cursor: pointer;
  color: black;
}

.contact-me {
  width: 100%;
  height: auto;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: rgb(243, 8, 118);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid rgb(243, 8, 118);
  cursor: pointer;
}

.rectangle-horiz {
  display: flex;
  width: 100%;
  height: 2px;
  background: #fff;
}

footer {
  position: relative;
  width: 100%;
  height: 250px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 25px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 20px;
}

#social {
  padding: 0;
  margin: 0;
  height: 100px;
  display: flex;
}

#social a,
#love,
#somuch,
#create,
#programm {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(243, 8, 118);
  border-radius: 50%;
  margin: 0px 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
  color: white;
}

.end {
  position: absolute;
  color: rgb(243, 8, 118);
  bottom: 10%;
  font-size: 16px;
}

@media (min-width: 1000px) {
  .logo {
    width: 100%;
  }
}

/*****************************/
/*
@media (min-width: 1200px) {
.container-playlist {
  padding-left: 8%;
}}*/

@media (min-width: 992px) {
  .container-playlist {
    width: 100%; /*980px*/
    padding-left: 8%;
  }
}
@media (min-width: 769px) {
  .container {
    width: 100%; /*740px*/
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ytpl--thumbs li {
  list-style: none;
  position: relative;
  float: left;
  width: 200px;
}
.ytpl--thumbs img {
  max-width: 100%;
}
.ytpl--thumbs p {
  display: none;
  position: absolute;
  margin: 0;
}
.ytpl--thumbs button:hover p {
  display: block;
  cursor: pointer;
}

.ytpl-playing p {
  display: block;
}

.ytpl-playing2 p {
  display: block;
}

body {
  background: #1a1717;
  color: rgb(243, 239, 239);
}

#small {
  font-size: 1rem;
  line-height: inherit;
}

.grey-section {
  background: black;
}
.grey-section p.lead {
  color: rgb(253, 252, 252);
}
.section-intro {
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}
.section-intro h1 {
  font-family: "poppins-semibold", serif;
  font-size: 3.6rem;
  color: rgb(241, 236, 236);
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #fc2992;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .section-intro {
    max-width: 650px;
    width: 100%;
  }
  .section-intro h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-intro h1 {
    font-size: 2.6rem;
  }
  .section-intro h5 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .section-intro h1 {
    font-size: 2.4rem;
  }
}

#resume {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#resume .resume-header {
  text-align: center;
}
#resume .resume-header h2 {
  color: #f70b81;
}

#resume .resume-timeline {
  max-width: 980px;
  width: 100%;
}
#resume .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(22, 21, 21, 0.993);
  position: absolute;
  left: 35%;
  top: 0;
}

#resume .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}
#resume .timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background: #0e0b0b;
  border-radius: 50%;
  text-align: center;
  color: #fcf9f9;
  position: absolute;
  left: 35%;
  top: 0.9rem;
  margin-left: -2.4rem;
}
#resume .timeline-ico i {
  position: relative;
  left: 0.05rem;
  top: 0.2rem;
}

#resume .timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}
#resume .timeline-header h3 {
  margin-bottom: 0;
}
#resume .timeline-header p {
  font-family: "poppins-regular", sans-serif;
  font-size: 1.6rem;
  color: #f3eded;
}
#resume .timeline-content {
  margin-left: 35%;
  padding-left: 60px;
}
#resume .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(253, 253, 253, 0.993);
  position: absolute;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 1024px) {
  #resume .timeline-header {
    padding-right: 50px;
  }
  #resume .timeline-header h3 {
    font-size: 1.8rem;
  }
  #resume .timeline-header p {
    font-size: 1.4rem;
  }
  #resume .timeline-content {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 768px) {
  #resume .timeline-wrap::before {
    left: 2.4rem;
  }
  #resume .timeline-ico {
    left: 2.4rem;
  }
  #resume .timeline-header {
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
  }
  #resume .timeline-header h3 {
    font-size: 2rem;
  }
  #resume .timeline-header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #resume .timeline-content {
    margin: 0;
  }
  #resume .timeline-content h4 {
    padding-bottom: 0;
    padding-top: 2.1rem;
    margin-bottom: 0.6rem;
    font-size: 1.7rem;
  }
  #resume .timeline-content h4::after {
    bottom: auto;
    top: 0;
  }

  #resume .timeline-header,
  #resume .timeline-content {
    padding-left: 7rem;
  }
}

@media only screen and (max-width: 480px) {
  #resume .resume-header h2 {
    font-size: 2.2rem;
  }

  #resume .timeline-wrap::before {
    left: 1.8rem;
  }

  #resume .timeline-ico {
    height: 3.6rem;
    width: 3.6rem;
    line-height: 3.6rem;
    left: 1.8rem;
    margin-left: -1.8rem;
    font-size: 1.2rem;
  }

  #resume .timeline-header,
  #resume .timeline-content {
    padding-left: 5.5rem;
  }
}

.my-nav {
  position: absolute;
  display: flex;
  top: 6%;
}

.my-nav ul {
  list-style-type: none;
  padding: 0;
  padding-left: 5px;
  transform: translatex(-270px);
}

.my-nav ul li {
  display: block;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: right;
  padding: 5px;
  border-radius: 0 30px 30px 0;
  transition: all 2s;
}

.my-nav ul li:hover {
  transform: translatex(110px);
}

.my-nav ul li.my-home:hover {
  background-color: #55acee;
}

.my-nav ul li.my-event:hover {
  background-color: #3b5999;
}

.my-nav ul li.my-music:hover {
  background-color: #dd4b39;
}

.my-nav ul li.my-info:hover {
  background-color: #ffc0cb;
}

.my-nav ul li.my-tv:hover {
  background-color: #e4405f;
}

.my-nav ul li a {
  color: white;
  text-decoration: none;
}

.my-nav ul li i {
  text-align: center;
  margin-left: 15px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  transform: rotate(0deg);
}

.my-nav ul li:hover i {
  transform: rotate(360deg);
  transition: all 2s;
  background-color: #f30876;
  color: #ffffff;
}
