html {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a:link {
  text-decoration: none;
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background: rgba(44, 131, 185, 1);
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#banner {
  border-bottom: 1px solid #fff;
  background-color: #1b2735; /*#1eabe3;*/
  width: 100%;
}

#banner h1 {
  margin: 0;
  padding: 30px;
}

#banner .logo {
  padding: 0px;
  width: 100%;
  min-width: 350px;
  margin: auto;
}
.logo img {
  width: 100%;
  height: auto;
}
#banner .title {
  width: 75%;
  white-space: nowrap;
}

h1.bitmovin-headline,
h2.bitmovin-headline,
h3.bitmovin-headline,
p {
  font-weight: 300;
  text-align: center;
  margin: 40px;
}

.bitmovin-description {
  padding: 45px 0;
  font-size: large;
}

#player {
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
}

a {
  color: #97d9ef;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
#webserver-warning {
  text-align: center;
  margin: 50px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  display: none;
}
table-area {
  position: relative;
  z-index: 0;
  margin-top: 0px;
}

@media (max-width: 1000px) {
  .logo {
    width: 100%;
  }
  .title {
    display: none;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5rem;
  background: transparent;
  text-align: center;
}

footer p:nth-child(1) {
  font-size: 20px;
  width: 100%;
  color: white;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 100%;
  text-align: center;
  line-height: 20px;
}

#social {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#social a,
#love,
#somuch,
#create,
#programm {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(243, 8, 118);
  border-radius: 50%;
  margin: 10px 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
  color: white;
}

company-name,
p {
  padding: 0;
  margin: 0;
  position: relative;
  color: #fff;
  font-size: 14px;
  padding-bottom: 0;
}

.my-nav {
  position: absolute;
  top: 1%;
}

.my-nav ul {
  list-style-type: none;
  padding: 0;
  transform: translatex(-270px);
}

.my-nav ul li {
  display: block;
  margin: 30px;
  width: 300px;
  text-align: right;
  padding: 5px;
  border-radius: 0 30px 30px 0;
  transition: all 2s;
}

.my-nav ul li a {
  color: white;
  text-decoration: none;
}

.my-nav ul li i {
  text-align: center;
  margin-left: 10px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  transform: rotate(0deg);
}

.my-nav ul li:hover i {
  transform: rotate(360deg);
  transition: all 2s;
  background-color: #f30876;
  color: #ffffff;  
  
}
